@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Samim;
  src: url("/fonts/Samim/Samim-FD.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: Samim;
  src: url("/fonts/Samim/Samim-bold-FD.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: Samim;
  src: url("/fonts/Samim/Samim-Medium-FD.woff2") format("woff2");
  font-weight: 500;
}

body {
  font-family: Samim;
}

#nprogress .bar {
  background: #222 !important;
}

.dark #nprogress .bar {
  background: #fff !important;
}

.skleton-design {
  @apply relative w-full animate-pulse rounded-2xl bg-gray-200 transition-all dark:bg-black dark:bg-opacity-20;
}

.driver-popover-title {
  font-weight: 300 !important;
  color: "#222";
}

.driver-popover-description {
  font-weight: 300 !important;
  color: "#222";
}

.driver-popover * {
  font-family: Samim !important;
}

.driver-popover {
  border-radius: 16px !important;
  padding: 32px !important;
}

.driver-popover-close-btn {
  left: 8px !important;
  top: 8px !important;
  right: auto !important;
}

.driver-popover-next-btn {
  margin-right: 4px !important;
  margin-left: 0 !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.success-toast,
.error-toast {
  font-family: "peyda";
  color: #e0e0e0;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);

  overflow: hidden;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px)!important;
  /* -webkit-backdrop-filter: blur(50px); */
  z-index: 1000;
}

.success-toast .Toastify__progress-bar {
  background: linear-gradient(90deg, #6bff7f, #47ff4a);
}

.error-toast .Toastify__progress-bar {
  background: linear-gradient(90deg, #ff6b6b, #ff4757);
}

.Toastify__progress-bar--wrp {
  height: 2px;
}
